= simple_form_for(@matter) do |f|
  - @matter.class.column_names.each do |field|
    = f.input field.to_sym unless %w(id created_at updated_at).include?(field)
  = f.submit


%div
  = link_to 'all', polymorphic_path(@matter.class)
