%sql
  %create
    %common
      %relations
        %data
          %file common-data.sql
        %references
          %file common-references.sql
        %functions
          %file common-functions.sql
    %specific
      %master
        %functions
          %file master-functions.sql
      %heroku
        %functions
          %file heroku-functions.sql
  %drop drop.sql


