div.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #09f;
  overflow: hidden;
  position: relative;
  a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    &:hover {
      color: #0df;
      color: #0cf; } }
  span {
    padding: 0;
    &.w10 {
      font-size: 54px;
      color: #0cf; }
    &.w9 {
      font-size: 50px;
      color: #0cf; }
    &.w8 {
      font-size: 44px;
      color: #0cf; }
    &.w7 {
      font-size: 40px;
      color: #39d; }
    &.w6 {
      font-size: 34px;
      color: #90c5f0; }
    &.w5 {
      font-size: 30px;
      color: #90a0dd; }
    &.w4 {
      font-size: 24px;
      color: #90c5f0; }
    &.w3 {
      font-size: 20px;
      color: #a0ddff; }
    &.w2 {
      font-size: 14px;
      color: #99ccee; }
    &.w1 {
      font-size: 10px;
      color: #aab5f0; } } }
