@import "blueprint/reset";
@import "partials/base";
@import "partials/menu";
@import "blueprint";
@import "compass/css3";

$wallpaper-color-start: #4c4c4c;
$wallpaper-color-end: black;
$container-background-color: #f2f2f2;
$menu-color: white;
$menu-background-color: black;

form.dubsar_form {
  @include blueprint-form;
  label {
    display: block;
  }
}
#navigation {
  * {
    color: $menu-color;
    background-color: $menu-background-color;
  }
  @include menu(10em);
}
body.debug {
  @include blueprint-debug;
}
body.dubsar {
  @include blueprint-typography(true);
  // wallpaper
  @include background-image(linear-gradient($wallpaper-color-start, $wallpaper-color-end ));
  background-color: $wallpaper-color-start; // ie

  #container {
    background-color: $container-background-color;
    border-style: none solid none solid;
    border-color: white;
    border-width: 0.1em;
    @include container;
  }

  #header {
    color: $menu-color;
    background-color: $menu-background-color;
    @include column($blueprint-grid-columns, true);
  }

  #dashboard {
    height: inherit;
    min-height: 1px; // prevents collapse if empty
    input.search-dubsar {
      width: 45%;
      height: 1.5em;
      font-size: 1.4em;
    }
    table.dashboard {
      width: 100%;
      height: 100%;
      td {
        text-align: center;
      }
    }
  }
}
body.home {
  @extend body.dubsar;
  #dashboard {
    @include column($blueprint-grid-columns, true);
  }
  td.cloud {
    padding-bottom: 10em;
  }
  #cloud {
    height: 350px;
    width: 700px;
    margin: 0 auto;
  }
  #footer {
    min-height: 1em; // prevents collapse if empty
    text-align: center;
    vertical-align: bottom;
    @include column($blueprint-grid-columns, true);
  }
}
body.find {
  @extend body.dubsar;
  #sidebar {
    min-height: 1px;
    height: inherit;
    padding-right: 8px;
    $sidebar-columns: floor($blueprint-grid-columns / 7);
    @include column($sidebar-columns, true);
  }
  #dashboard {
    ul.items {
      list-style-type: none;
      margin-top: 2em;
      li.item {
        text-decoration: underline;
        margin-bottom: 0.7em;
        cursor: pointer;
      }
    }
    $dashboard-columns: ceil(6 * $blueprint-grid-columns / 7);
    @include column($dashboard-columns, true);
  }
  #footer {
    min-height: 1em; // prevents collapse if empty
    text-align: center;
    vertical-align: bottom;
    @include column($blueprint-grid-columns, true);
  }
}

body.two-col {
  @extend body.dubsar;
  #sidebar {
    min-height: 1px; // prevents collapse if empty
    table {
      height: 100%;
    }
    li.form-panel {
      min-height: 1px; // prevents collapse if empty
      color: black;
      background-color: red;
    }
    ul.form-panel {
    vertical-align: bottom;
      list-style: none;
      li.form-panel-top {
        @extend li.form-panel;
        min-height: 10px; // prevents collapse if empty
        @include border-top-radius(25px);
      }
      li.form-panel-bottom {
        @extend li.form-panel;
        min-height: 10px; // prevents collapse if empty
        @include border-bottom-radius(25px);
      }
      li.form-panel-spacer {
        @extend li.form-panel;
        height: 100%;
      }
    }
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns);
  }

  #content {
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    @include column($content-columns, true);
  }
  #footer {
    height: 100%; // expands if content is smaller than window
    @include column($blueprint-grid-columns, true);
  }
}
